body {
	width: 100%;
	margin: 0;
	background: rgb(2, 44, 68);
	color: white;
	display: flex;
	justify-content: center;
}

a, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: none;
}

#root {
	width: 1000px;
	padding: 10px;
}

article {
	margin: 10px 0;
	background: rgb(8, 109, 140);
}

.tech {
	background: rgb(7, 62, 79);
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.techicon {
	padding: 2px;
	width: 64px;
	height: 64px;
	padding: 4px;
}

.title {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.description {
	padding: 10px;

}

.projectImgs {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.projectImg {
	width: 33.3%;
}

.github {
	padding: 10px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.giticon {
	margin: 0 6px;
	width: 32px;
	height: 32px;
}

@media only screen and (max-width: 1000px) {
	#root {
		width: 100%;
	}
	.projectImg {
	  width: 50%;
	}
}


@media only screen and (max-width: 768px) {
	.projectImg {
		width: 100%;
	}
}